h1{
    text-align: center;
}

img{
display: block;
margin: 0 auto;
}

.img_description{
    text-align: center;
    font-style: italic;
}

h2{
    text-align: center;
    font-style: oblique;
}

ul,ol{
    border: solid black;
}

ul li{
    /* border: solid blue; */
    display: block;
    margin: 5px auto;
}

ol li{
    display: block;
    margin: 5px auto;
}